.menu-option {
    position: relative;
    text-align: center;
    font-size: 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 5px #ccc;
    padding: 20px 50px 0 50px;
    width:240px;
    margin: 50px;
    float: left;
    height: 7.5rem;
  }

  .return{
    position: relative;
    top: 490px;
    right: 400px;
  }

  .backButton{
    text-align: center;
    position: relative;
    top: 450px;
    right: 500px;
}