.menu-option {
    position: relative;
    text-align: center;
    font-size: 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 50px 70px 0 50px;
    width: 240px;
    margin: 30px;
    float: left;
    height: 5.5rem;
  }